Repository netmanthan/sparrow, changes with the owners that CODEOWNERS names for each.
All owners: @deepeshgarg007, @ruthra-kumar, @anandbaburajan, @rohitwaghchaure, @s-aga-r, @ankush

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

sparrow/accounts/               @deepeshgarg007 @ruthra-kumar
sparrow/assets/                 @anandbaburajan @deepeshgarg007
sparrow/loan_management/        @deepeshgarg007
sparrow/regional                @deepeshgarg007 @ruthra-kumar
sparrow/selling                 @deepeshgarg007 @ruthra-kumar
sparrow/support/                @deepeshgarg007
pos*                            

sparrow/buying/                 @rohitwaghchaure @s-aga-r
sparrow/maintenance/            @rohitwaghchaure @s-aga-r
sparrow/manufacturing/          @rohitwaghchaure @s-aga-r
sparrow/quality_management/     @rohitwaghchaure @s-aga-r
sparrow/stock/                  @rohitwaghchaure @s-aga-r
sparrow/subcontracting          @rohitwaghchaure @s-aga-r

sparrow/controllers/            @deepeshgarg007 @rohitwaghchaure
sparrow/patches/                @deepeshgarg007

.github/                        @deepeshgarg007
pyproject.toml                  @ankush

Sparrownova ERP Retail Solutions
  README.md
  attributions.md
  package.json
Owners: none

sparrow.esparrow_integrations
  .idea/workspace.xml
  sparrow/accounts/doctype/bank/bank.js
  sparrow/hooks.py
  sparrow/patches/v13_0/custom_fields_for_taxjar_integration.py
  sparrow/sparrow_integrations/doctype/mpesa_settings/mpesa_settings.py
  sparrow/sparrow_integrations/doctype/plaid_settings/plaid_settings.js
  sparrow/sparrow_integrations/doctype/plaid_settings/plaid_settings.py
  sparrow/sparrow_integrations/doctype/quickbooks_migrator/quickbooks_migrator.js
  sparrow/sparrow_integrations/doctype/tally_migration/tally_migration.js
  sparrow/sparrow_integrations/doctype/woocommerce_settings/woocommerce_settings.js
  sparrow/sparrow_integrations/doctype/woocommerce_settings/woocommerce_settings.py
  sparrow/sparrow_integrations/exotel_integration.py
  sparrow/sparrow_integrations/utils.py
  sparrow/tests/test_exotel.py
Owners: @deepeshgarg007, @ruthra-kumar

Update footer_powered.html
  sparrow/templates/includes/footer/footer_powered.html
Owners: none

In Sparrownova ERP
  sparrow/accounts/onboarding_step/accounts_settings/accounts_settings.json
  sparrow/accounts/onboarding_step/chart_of_accounts/chart_of_accounts.json
  sparrow/accounts/onboarding_step/financial_statements/financial_statements.json
  sparrow/buying/onboarding_step/create_your_first_purchase_order/create_your_first_purchase_order.json
  sparrow/manufacturing/onboarding_step/explore_manufacturing_settings/explore_manufacturing_settings.json
  sparrow/setup/onboarding_step/company_set_up/company_set_up.json
  sparrow/setup/onboarding_step/data_import/data_import.json
  sparrow/stock/onboarding_step/create_a_warehouse/create_a_warehouse.json
  sparrow/stock/onboarding_step/stock_settings/stock_settings.json
  sparrow/stock/onboarding_step/view_warehouses/view_warehouses.json
Owners: @deepeshgarg007, @ruthra-kumar, @rohitwaghchaure, @s-aga-r

In Sparrownova ERP
  .idea/workspace.xml
  README.md
Owners: none

Update sparrow_settings.json
  sparrow/setup/workspace/sparrow_settings/sparrow_settings.json
Owners: none

In Sparrow
  sparrow/translations/uz.csv
  sparrow/translations/vi.csv
Owners: none

https://www.youtube.com/embed
  .idea/workspace.xml
  sparrow/accounts/onboarding_step/chart_of_accounts/chart_of_accounts.json
  sparrow/accounts/onboarding_step/updating_opening_balances/updating_opening_balances.json
  sparrow/setup/page/welcome_to_sparrow/welcome_to_sparrow.js
Owners: @deepeshgarg007, @ruthra-kumar

https://docs.sparrow.com/docs/v14/user/manual/en/introduction
  sparrow/patches/v13_0/update_docs_link.py
  sparrow/setup/install.py
Owners: @deepeshgarg007

Update workspace.xml
  .idea/workspace.xml
Owners: none

sparrownova.com
  sparrow/translations/fa.csv
  sparrow/translations/kn.csv
  sparrow/translations/ko.csv
  sparrow/translations/mr.csv
  sparrow/translations/my.csv
Owners: none
